.form-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 35em;
    border: 1px solid $powder;
    border-radius: 5px;
    padding: 15px;
    margin: auto;
    background-color: $teal;
  }

  .form-input {
      width: 100%;
  }

  .card-container {
      padding: 25px;
      background-color: $purple-grey;
  }

  ::ng-deep .mat-form-field {
      .mat-input-element {
          color: $black;
          caret-color: #fff;
      
      }
      .mat-form-field-label {
          color: grey;
      }
      .mat-form-field-underline::before {
          background-color: $metal !important;
      }
      .mat-form-field-underline {
          background-color: $metal !important;
      }
      .mat-form-field-ripple {
          background-color: $metal;
      }
      .mat-form-field-required-marker {
          color: $metal;
      }
      .mat-form-field-flex {
          background-color: $powder;
      }
    
  }

  ::ng-deep .mat-form-field.mat-focused {
  
      .mat-form-field-label {
          color: grey;
      }
      .mat-form-field-ripple {
          background-color: $metal;
      }
      .mat-input-element {
          color: $black;
          caret-color: $onyx;
      }
      
  }

  textarea::placeholder {
      color: $onyx !important;
  }