<div class="form-container">
    <form [formGroup]="newRecipe">

        <mat-form-field class="form-input category-input">
            <mat-label>Add Categories</mat-label>
            <mat-chip-list #chipList aria-label="Category selection">
              <mat-chip
                *ngFor="let category of categories"
                [selectable]="selectable"
                [removable]="removable"
                (removed)="remove(category)">
                {{category.name}}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
              </mat-chip>
              <input
                placeholder="New fruit..."
                #fruitInput
                [formControl]="categoryControl"
                [matAutocomplete]="auto"
                [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                (matChipInputTokenEnd)="add($event)">
            </mat-chip-list>
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
              <mat-option *ngFor="let category of filteredCategories | async" [value]="category">
                {{category.name}}
              </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <mat-form-field class="form-input" appearance="fill">
                <mat-label for="instruction2Control">Add Instruction</mat-label>
                <input matInput type="text" formControlName="instruction2Control" placeholder="">
                <button (click)="addInstruction2($event)" mat-icon-button matSuffix [attr.aria-label]="'Add Instructions'">
                    <mat-icon class="c-black">add</mat-icon>
                </button>
                <!-- <mat-icon (click)="addInstruction2($event)" class="c-black">add</mat-icon> -->
        </mat-form-field>
        <!-- <mat-icon (click)="addInstruction2($event)" class="c-black">add</mat-icon> -->
        <mat-chip-list
            class="example-chip mat-chip-list-stacked"
            cdkDropList 
            (cdkDropListDropped)="drop($event)">
            <div cdkDrag class="ordered-chips-container" *ngFor="let instruction of instructions2">
                <mat-icon class="c-white">menu</mat-icon>
                <span class="c-white instruction-number">{{instruction.order + 1}}</span>
                <mat-chip class="ordered-chips example-box">
                    {{instruction.content}}
                </mat-chip>
                <mat-icon (click)="removeInstruction2(instruction)" class="c-white">close</mat-icon>
            </div>
        </mat-chip-list>

        <app-button [label]="'Instructions2'" (clickEvent)="getInstructions($event)" [class]="'done-button'"></app-button>

        <mat-form-field class="form-input" appearance="fill">
            <mat-label for="ingredients">Ingredients</mat-label>
            <textarea matInput type="text" formControlName="ingredients" required></textarea>
            <mat-error *ngIf="newRecipe.controls.ingredients.invalid">Ingredients are required</mat-error>
        </mat-form-field>
        <br>

        <mat-label for="instruction">Instructions</mat-label>
        <ng-container formArrayName="instructions">
            <ng-container *ngFor="let instruction of newRecipe.get('instructions')?.controls; let i = index" [formGroupName]="i">
                <mat-form-field class="form-input" appearance="fill">
                    <textarea matInput type="text" formcontrolName="i" required></textarea>
                    <!-- <mat-error *ngIf="instructions.controls[i].invalid">Instructions are required</mat-error> -->
                </mat-form-field>
            </ng-container>
        </ng-container>
        <app-button [label]="'Next Step'" (clickEvent)="addInstruction($event)" [class]="'done-button'"></app-button>
        <br>

        <mat-form-field class="form-input" appearance="fill">
            <mat-label for="recipeName">Name</mat-label>
            <input matInput type="text" formControlName="recipeName" required>
            <mat-error *ngIf="newRecipe.controls.recipeName.invalid">Must be less than 100 characters</mat-error>
        </mat-form-field>
        <br>

        <mat-form-field class="form-input" appearance="fill">
            <mat-label for="imageUri">Picture of Dish</mat-label>
            <input matInput type="text" formControlName="imageUri" placeholder="pictureoffood.com/image">
        </mat-form-field>
        <br>

        <mat-form-field class="form-input" appearance="fill">
            <mat-label>Cook Time</mat-label>
            <input matInput type="number" placeholder="Ex. 30 min" formControlName="cookTime" min="0">
            <span matSuffix>minutes</span>
            <mat-error *ngIf="newRecipe.controls.cookTime.invalid">Must be numerical value</mat-error>
        </mat-form-field>
        <br>

        <mat-form-field class="form-input" appearance="fill">
            <mat-label>Prep Time</mat-label>
            <input matInput type="number" placeholder="Ex. 15 min" formControlName="prepTime" min="0">
            <span matSuffix>minutes</span>
            <mat-error *ngIf="newRecipe.controls.cookTime.invalid">Must be numerical value</mat-error>
        </mat-form-field>

    </form>

    <app-button [label]="'Add Recipe'" (clickEvent)="addRecipe($event)" [class]="'done-button'"></app-button>
</div>