@import "/src/styles/styles.scss";

.mat-toolbar {
  background-color: $watermelon;
}

.mat-chip-list {
  margin-left: 10px;
}

img {
  margin: 5px;
  width: 42px;
  height: 42px;
}

.spacer {
  flex: 1 1 auto;
}

.header-chip {
  border: none !important;
}
