<div class="mobile-header" fxShow.sm="true" fxShow.lt-sm="true" fxShow.gt-sm="false">
  <button mat-icon-button routerLink="home" routerLinkActive="active">
    <img src="/assets/images/logo.svg" alt="app logo" class="filter-metal">
  </button>
  <span class="spacer"></span>
  <h1>ReciMe</h1>
  <span class="spacer"></span>
  <button mat-icon-button [matMenuTriggerFor]="settingsMenu" (menuOpened)="menuOpened()" (menuClosed)="menuClosed()">
    <mat-icon class="c-onyx">settings</mat-icon>
  </button>
</div>
<mat-toolbar fxShow.lt-sm="false" fxShow.gt-sm="true" fxShow.sm="false">
  <button mat-icon-button routerLink="home" routerLinkActive="active">
    <img src="/assets/images/logo.svg" alt="app logo" class="filter-metal">
  </button>
  <span class="spacer"></span>
  <h1 class="c-metal">ReciMe</h1>
  <span class="spacer"></span>
  <button mat-icon-button routerLink="search" (click)="openSearchDialog()">
    <mat-icon class="search c-metal">search</mat-icon>
  </button>
  <button mat-icon-button class="c-metal" matBadge="15" matBadgeColor="$default-warn" [matMenuTriggerFor]="notifications">
    <mat-icon class="notification">notifications_active</mat-icon>
  </button>
  <span class="cdk-visually-hidden">
    notification icon with overlaid badge showing the number of notifications </span>
  <mat-menu #notifications="matMenu" class="bg-mint">
    <p>This is where account notifications will live.</p>
  </mat-menu>
  <button mat-icon-button routerLink="/profile">
    <mat-icon class="account c-metal">account_circle</mat-icon>
  </button>
  <button mat-icon-button [matMenuTriggerFor]="settingsMenu" (menuOpened)="menuOpened()" (menuClosed)="menuClosed()">
    <mat-icon [ngClass]="opened ? 'menu-opened' : ' ' " class="c-metal">keyboard_arrow_down</mat-icon>
  </button>
  <mat-menu #settingsMenu="matMenu" class="bg-mint">
    <button mat-menu-item class="c-metal" routerLink="/profile">
      <mat-icon class="c-metal">account_circle</mat-icon>View Profile
    </button>
    <button mat-menu-item class="c-metal" routerLink="/settings">
      <mat-icon class="c-metal">settings</mat-icon>Account Settings
    </button>
    <button mat-menu-item class="c-metal" routerLink="/settings">
      <mat-icon class="c-metal">help</mat-icon>Help &
      Support
    </button>
    <button mat-menu-item class="c-metal" (click)="logout()">
      <mat-icon class="c-metal">logout</mat-icon>Logout
    </button>
  </mat-menu>
</mat-toolbar>