@import "/src/styles/styles.scss";

.mat-toolbar {
  background-color: $watermelon;
}

.mat-chip-list {
  margin-left: 10px;
}

img {
  margin: 5px;
  width: 42px;
  height: 42px;
}

.spacer {
  flex: 1 1 auto;
}

.menu-opened {
  transform: rotate(180deg);
}

.menu-closed {
  transform: rotate(0deg);
}

::ng-deep .mat-icon-button {
  min-width: auto !important;
  padding: 0 !important;
  width: 30px !important;
  margin: 8px !important;
}

.notification, .search, .account {
 font-size: 40px;
 margin: 10px;
 text-align: center;
}

::ng-deep .mat-menu {
  flex-direction: column !important;
}

::ng-deep .mat-menu-panel {
  border: 1px solid $powder;
  max-width: 200px !important;
}

::ng-deep .mat-menu-item {
  display: inline-flex !important;
}

::ng-deep .mat-menu-item img {
  width: 30px;
}
