<h1 mat-dialog-title>You're almost finished!</h1>
<div class="form-example">
    <div mat-dialog-content>
        <img src="/assets/images/logo.svg" class="filter-jet">
        <p>Enter a unquie username to
            finish creating your account.</p>
        <mat-form-field class="input-example" appearance="fill">
            <mat-label>username</mat-label>
            <input matInput>
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <a routerLink="/login"><button class="dark-button" mat-raised-button isRoundButton="true">Continue</button></a>
    </div>
</div>