@import "../../../styles.scss";

::ng-deep .custom-style {
    background-color: $onyx;
    border: 1px solid $purple-grey;
    text-align: center;
    justify-content: center !important;
    width: 20px !important;
  }