@import "/src/styles/styles.scss";

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 400px;
  width: 400px;
}
h2,h1,h3, label{
  color: white;
  font-family: "Montserrat", sans-serif;
}

.recipeInfo,.prepareRecipe{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.ingredients {
  display: grid;
  grid-template-columns: 40px 40px;
  grid-template-rows: 50% 50%;
}

#instructions {
  color: white;
}

hr{
  border: 1px solid $mint;
  width: 85%;
}

.edit {
  display:flex !important;
  justify-content: center !important;
}

::ng-deep .mat-fab {
  margin: 10px !important;
  text-align: center !important;
}

::ng-deep .mat-icon {
  font-size: 30px;
  margin: -2px 5.5px 10px 0;
}

::ng-deep .mat-list-item {
  color: $powder !important;
}

::ng-deep .mat-checkbox .mat-checkbox-frame {
  border-color: $mint;
}

.ingContainer {
  display: flex;
  max-height: 250px;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 20% 0 20%;
}

#shop-button {
  margin-top: 15px;
}

.instructions-container {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .ingContainer {
    display: flex;
    max-height: 250px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-shrink: 2;
    padding: 0;
    font-size: 12px !important;
  }
 
  ::ng-deep .mat-list-base .mat-list-item {
    font-size: 12px !important;
  }
 
  .instructions-container {
    display: flex;
    justify-content: center;
    margin: 0 10px 0 10px;
  }
}






