<div class="flex-container">
  <img src="{{recipe?.photoUrl}}">
  <div class="edit">
    <button mat-fab>
      <mat-icon class="c-onyx">thumb_up_alt</mat-icon>
    </button>
    <button mat-fab>
      <mat-icon class="c-onyx">restaurant_menu</mat-icon>
    </button>
    <button mat-fab>
      <mat-icon class="c-onyx">bookmark</mat-icon>
    </button>
    <button mat-fab>
      <mat-icon class="c-onyx">edit</mat-icon>
    </button>
  </div>

  <div class="recipeInfo">
    <h1>{{recipe?.title}}</h1>
    <h2>Prep Time: {{recipe?.prepTime}}Min</h2>
    <h2>Cook Time: {{recipe?.cookTime}}Min</h2>
    <h2>Serving Size: xx</h2>
  </div>
  <hr>
  <div class="prepareRecipe">
    <h3>Ingredients</h3>

    <!-- *ngFor="let ingredient of ingredients --- this is saved for when we have a real server -->
    <!-- <input type="checkbox" id="ingredient" name="ingredient" value="Ingredient">
        <label for="ingredient">{{ingredient}}</label><br> 
      This is also for later-->
    <div class="ingContainer">
      <mat-list>
        <mat-list-item>
          <mat-checkbox>Freshly cut grass</mat-checkbox>
        </mat-list-item>
        <mat-list-item>
          <mat-checkbox>Beetles</mat-checkbox>
        </mat-list-item>
        <mat-list-item>
          <mat-checkbox>1/2 Tbsp Parsley</mat-checkbox>
        </mat-list-item>
        <mat-list-item>
          <mat-checkbox>Jean Luc Picard's head hair</mat-checkbox>
        </mat-list-item>
        <mat-list-item>
          <mat-checkbox>Weeds</mat-checkbox>
        </mat-list-item>
      </mat-list>
      <mat-list>
        <mat-list-item>
          <mat-checkbox>1 molecule of Uranium</mat-checkbox>
        </mat-list-item>
        <mat-list-item>
          <mat-checkbox>1 Cup Sugar</mat-checkbox>
        </mat-list-item>
        <mat-list-item>
          <mat-checkbox>2 Tspns Crushed Pig hoof</mat-checkbox>
        </mat-list-item>
        <mat-list-item>
          <mat-checkbox>Jordan's latest eyeroll</mat-checkbox>
        </mat-list-item>
        <mat-list-item>
          <mat-checkbox>Cold baked beans</mat-checkbox>
        </mat-list-item>
    </mat-list>
    </div>
    <app-button id="shop-button" [label]="'Add Selected to Shopping List'" (clickEvent)="($event)" [class]="'shop-button'"></app-button>
    <hr>
    <h3>Instructions</h3>
    <!-- *ngFor="let instruction of instructions"  -- commented out for later-->
    <mat-list id="recipe-steps">
      <!-- Loop for Step list-->
      <mat-list-item id="instructions">#. Do the Thing</mat-list-item>
      <mat-list-item id="instructions">#. Do the Thing</mat-list-item>
      <mat-list-item id="instructions">#. Do the Thing</mat-list-item>
      <mat-list-item id="instructions">#. Do the Thing</mat-list-item>
      <mat-list-item id="instructions">#. Do the Thing</mat-list-item>
      <mat-list-item id="instructions">#. Do the Thing</mat-list-item>
      <mat-list-item id="instructions">#. Do the Thing</mat-list-item>
    </mat-list>
  </div>

</div>