@import "./theme.scss";
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Montserrat&family=Playfair+Display&display=swap");

html,
body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  background-color: $onyx !important;
}

.mat-icon {
  font-family: "Material Icons" !important;
}

body > * {
  font-family: "Dosis", sans-serif !important;
}

p {
  font-family: "Montserrat", sans-serif !important;
  font-size: 16px;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}
h3 {
  font-size: 18.7167px;
}
h5 {
  font-size: 13.2833x;
}

@media only screen and (max-width: 600px) {
  body {
    font-family: "Playfair Display", serif !important;
  }

  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 18.7167px;
  }
  h5 {
    font-size: 13.2833x;
  }

  body p {
    font-family: "Montserrat", sans-serif !important;
    font-size: 16px;
  }
}

/*use this style of button for end of process actions*/
.done-button {
  background-color: $teal !important;
  color: $powder !important;
}

/*use this button for secondary actions (edit, back, change, etc.)*/
.edit-button {
  background-color: $powder !important;
  color: $jet !important;
}

/*fitlers svg icons*/
.filter-powder {
  filter: brightness(0) saturate(100%) invert(98%) sepia(1%) saturate(3027%)
    hue-rotate(174deg) brightness(102%) contrast(93%);
}

.filter-onyx {
  filter: brightness(0) saturate(100%) invert(31%) sepia(0%) saturate(7473%)
    hue-rotate(27deg) brightness(87%) contrast(107%);
}

.filter-jet {
  filter: brightness(0) saturate(100%) invert(16%) sepia(63%) saturate(18%)
    hue-rotate(338deg) brightness(93%) contrast(88%);
}

.filter-watermelon {
  filter: brightness(0) saturate(100%) invert(51%) sepia(12%) saturate(2643%)
    hue-rotate(316deg) brightness(107%) contrast(111%);
}

.snackbar {
  background-color: $onyx;
  border: 1px solid $powder;
  text-align: center;
  justify-content: center !important;
  width: 20px !important;
}

/*Form Styling*/
.form-container {
  width: 35em;
  border: 1px solid $powder;
  border-radius: 5px;
  padding: 15px;
  margin: auto;
  background-color: $teal;
}

.form-input {
  width: 100%;
}

// Do not need ::ng-deep when placing these overrides in global stylesheet.
//    -> global meaning that this stylesheet is defined in angular.json
// Only need to use ::ng-deep in component-specific stylesheet to override a global style
// ::ng-deep
.mat-form-field {
  .mat-input-element {
    color: $black;
    caret-color: $metal !important;
  }
  .mat-form-field-label {
    color: grey;
  }
  .mat-form-field-underline::before {
    background-color: $metal !important;
  }
  .mat-form-field-underline {
    background-color: $metal !important;
  }
  .mat-form-field-ripple {
    background-color: $metal !important;
  }
  .mat-form-field-required-marker {
    color: $metal !important;
  }
  .mat-form-field-flex {
    background-color: $powder;
  }
  .mat-form-field-empty {
    color: grey !important;
  }
}

.mat-error {
  color: $watermelon !important;
}

.mat-form-field.mat-form-field-invalid {
  // Invalid form styling here
  .mat-input-element {
    caret-color: $watermelon !important;
  }
  .mat-form-field-underline::before {
    background-color: $watermelon !important;
  }
  .mat-form-field-underline {
    background-color: $watermelon !important;
  }
  .mat-form-field-ripple {
    background-color: $watermelon !important;
  }
  .mat-form-field-required-marker {
    color: $watermelon !important;
  }
}

.mat-form-field.mat-focused {
  .mat-form-field-label {
    color: grey;
  }
  .mat-form-field-ripple {
    background-color: $metal;
  }
  .mat-input-element {
    color: $black;
    caret-color: $onyx;
  }
}

textarea::placeholder {
  color: $onyx !important;
}

.mat-form-field-flex {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 5px 5px 0px;
}
/*End Form Styling*/
