@import "/src/styles/styles.scss";

::ng-deep .mat-dialog-container {
    margin: 0px !important;
    padding: 0 !important;
    overflow: hidden;
}

h1 {
    margin: 5px;
}

.flex-container {
    display: flex;
    justify-content: center;
    margin: 10px;
    min-width: 400px;
}

.button-container {
    margin: 10px;
    align-items: center;
    justify-content: center !important;
    text-align: center;
}

::ng-deep .mat-option.mat-active {
    background: $onyx !important;
}
