<mat-dialog-content class="planning bg-jet">
    <h1 class="c-powder">Add Recipe to:</h1>
    <mat-divider></mat-divider>
    <div class="flex-container">
        <mat-list>

            <!-- FOLLOW UP WITH RYAN!! -->

            
            <mat-list-item *ngFor="let collection of collections">
                <mat-checkbox>{{collection}}</mat-checkbox>
                <!-- <mat-checkbox>{{collection?.collectionName}}</mat-checkbox> -->
            </mat-list-item>
        </mat-list>
    </div>
    <div class="button-container">
        <button mat-raised-button (click)="openCreateCollectionDialog()">+ Create Collection</button>
        <button mat-raised-button class="done-button" (click)="saveRecipe()">Add Recipe</button>
    </div>
</mat-dialog-content>