<mat-dialog-content class="planning bg-jet">
    <h1 class="c-powder">Add Recipe to:</h1>
    <mat-divider></mat-divider>
    <form [formGroup]="newSaveRecipeForm">
        <div class="flex-container">
            <mat-list *ngIf="newSaveRecipeForm.controls.length>0">
                <mat-list-item *ngFor="let collection of newSaveRecipeForm.controls;index as i">
                    <mat-checkbox [formControl]="newSaveRecipeForm.controls[i]">{{collections[i].collectionName}}</mat-checkbox>
                </mat-list-item>
            </mat-list>
        </div>
    </form>
    <div class="button-container">
        <button mat-raised-button (click)="openCreateCollectionDialog()">+ Create Collection</button>
        <button mat-raised-button class="done-button" (click)="saveRecipe($event)">Add Recipe</button>
    </div>
</mat-dialog-content>