@import "/src/styles/styles.scss";
.container {
  max-height: 80vh;
}

.mobile-nav {
  display: flex;
  justify-content: center;
  position: relative !important;
}

.mobile-nav-buttons {
  display: flex;
  border-radius: 40px;
  justify-content: center;
  width: auto;
  margin: 10px;
  background-color: $mint;
  position: fixed !important;
  padding: 2px;
}

::ng-deep .mat-icon-button {
  margin: 5px !important;
  padding-right: 5px !important;
}

.flex-container {
  justify-content: flex-end;
  display: flex;
  position: relative !important;
  padding: 15px;
}

.fab-button {
  margin-right: 10px;
}

.create {
  margin: -7px 5px 10px -10px;
}
