<app-header *ngIf="!router.url.includes('/login')"></app-header>
<div class="container">
    <router-outlet></router-outlet>
</div>
<div *ngIf="!router.url.includes('/login')" class="mobile-nav" fxShow.sm="true" fxShow.lt-sm="true" fxShow.gt-sm="false">
    <div class="mobile-nav-buttons">
          <button mat-icon-button (click)="openSearchDialog()">
      <mat-icon class="search c-metal">search</mat-icon>
    </button>
    <button mat-icon-button (click)="addRecipe()">
      <mat-icon class="add c-metal">add</mat-icon>
    </button>
    <button mat-icon-button class="c-metal" matBadge="15" matBadgeColor="warn" [matMenuTriggerFor]="notifications">
      <mat-icon class="notification">notifications_active</mat-icon>
    </button>
    <span class="cdk-visually-hidden">
      notification icon with overlaid badge showing the number of notifications </span>
    <mat-menu #notifications="matMenu" class="bg-mint">
      <p>This is where account notifications will live.</p>
    </mat-menu>
    <button mat-icon-button routerLink="/profile">
      <mat-icon class="account c-metal">account_circle</mat-icon>
    </button>
</div>
  </div>
<div *ngIf="!router.url.includes('/login') && !router.url.includes('/error')" class="flex-container" fxShow.sm="false" fxShow.lt-sm="false" fxShow.gt-sm="true">
    <button (click)="addRecipe()" fxShow.lt-sm="false" fxShow.gt-sm="true" fxShow.sm="false" mat-fab class="bg-mint fab-button" aria-label="create button" style="position:fixed!important;">
        <mat-icon class="c-metal create">add</mat-icon>
    </button>
    <button (click)="addRecipe()" fxShow.sm="true" fxShow.lt-sm="true" fxShow.gt-sm="false" mat-mini-fab class="bg-mint fab-button" aria-label="create button mobile" style="position:fixed!important;">
      <mat-icon class="c-metal create">add</mat-icon>
    </button>
</div>
