<app-header *ngIf="!router.url.includes('/login')"></app-header>
<div style="max-height: 80vh;">
    <router-outlet></router-outlet>
</div>
<div *ngIf="!router.url.includes('/login')" class="flex-container"  style="position:relative!important;padding:15px;">
    <button (click)="addRecipe()" fxShow.lt-sm="false" fxShow.gt-sm="true" fxShow.sm="false" mat-fab class="bg-teal" aria-label="create button" style="position:fixed!important;">
        <img src="assets/images/addwhite.svg" alt="create" class="filter-powder">
    </button>
    <button (click)="addRecipe()" fxShow.sm="true" fxShow.lt-sm="true" fxShow.gt-sm="false" mat-mini-fab class="bg-teal" aria-label="create button mobile" style="position:fixed!important;">
        <img src="assets/images/addwhite.svg" alt="create" class="filter-powder">
    </button>
</div>
