@import "../../../styles.scss";

.card-container {
  background-color: $purple-grey;
  min-width: 650px;
  margin: auto;
  border-radius: 0.5em;
  padding: 25px;
  justify-content: center;
}

.card {
  background-color: $teal;
  max-width: 400px;
  margin: auto;
}

.flex-container {
  display: flex;
  justify-content: space-around;
}

.mat-card-actions img {
  padding: 5px;
}

.mat-card-title, .mat-card-subtitle {
    color: $powder;
}
