<h2 mat-dialog-title>Login</h2>
<mat-dialog-content class="mat-typography">
    <img src="/assets/images/logo.svg" class="filter-jet">
    <a href="{{ githubURI }}"><button color="primary" mat-raised-button isRoundButton="true">Continue with
        Google</button></a>
<a href="{{ githubURI }}"><button color="primary" mat-raised-button isRoundButton="true">Continue with
        Github</button></a>
  </mat-dialog-content>
<mat-dialog-actions align="end">
    <p>By continuing, you agree to ReciMe's Terms
        of Service and Privacy Policy.</p>
</mat-dialog-actions>


