@import "/src/styles/styles.scss";



.flex-container {
  display: none !important;
}

::ng-deep.mat-dialog-container{
  background-color: $teal !important;
  width: 100%;
  border-radius: 0.5em;
}

::ng-deep.mat-dialog-content {
  text-align: center !important;
}

.img {
  margin: 30px;
}

.container {
  margin: 50px 0 10px 0;
}

.filter-jet {
    filter: brightness(0) saturate(100%) invert(16%) sepia(63%) saturate(18%)
      hue-rotate(338deg) brightness(93%) contrast(88%);
  }

button {
  margin: 10px;
  padding: 10px;
  text-align: center;
}


