<mat-dialog-content class="mat-typography">
    <img src="/assets/images/logo.svg" class="filter-jet">
    <div class="container">
    <a href="{{ githubURI }}"><button color="primary" mat-raised-button isRoundButton="true">Continue with
        Google</button></a>
<a href="{{ githubURI }}"><button color="primary" mat-raised-button isRoundButton="true">Continue with
        Github</button></a>
    </div>
  </mat-dialog-content>
<mat-dialog-actions align="end">
    <p>By continuing, you agree to ReciMe's <a href="#">Terms<br>
        of Service</a>and <a href="#">Privacy Policy</a>.</p>
</mat-dialog-actions>


