<mat-dialog-content>
    <img src="/assets/images/logo.svg" class="filter-jet">
    <div class="container">
    <a href="{{ githubURI }}"><button class="dark-button" mat-raised-button isRoundButton="true"><i class="fa fa-google fa-2x"></i>Continue with
        Google</button></a>
<a href="{{ githubURI }}"><button class="dark-button" mat-raised-button isRoundButton="true"><i class="fa fa-github fa-2x"></i>Continue with
        Github</button></a>
            </div>
  </mat-dialog-content>
<mat-dialog-actions>
    <p>By continuing, you agree to this site's <a href="#">Terms
        of Service</a>and <a href="#">Privacy Policy</a>.</p>
</mat-dialog-actions>



