<!-- header here  -->

<h1>Edit Profile</h1>
<img>{{activeUser.ProfilePic}}</img>
<button>Edit</button>

<div class="profileInfo">
    <div>
        <label>First Name</label>
        <input id="firstname" placeholder="Jane"></input>
    </div>
    <div>
        <label>Last Name</label>
        <input id="lastname" placeholder="Doe"></input>
    </div>
    <div>
        <label>Username</label>
        <input id="username" placeholder="janedoe1"></input>
    </div>
    <div>
        <label>Bio</label>
        <input id="bio" placeholder="bio info here"></input>
    </div>
</div>

<!-- footer here -->
