<!-- header here  -->

<h1>Edit Profile</h1>
<img src="xxxxx">{{activeUser.ProfilePic}}</img>
<button>Edit</button>

<div class="profileInfo">
    <div>
        <label id="firstname">First Name</label>
        <input type="text" id="firstname" placeholder="Jane"></input>
    </div>
    <div>
        <label id="lastname">Last Name</label>
        <input type="text" id="lastname" placeholder="Doe"></input>
    </div>
    <div>
        <label id="username">Username</label>
        <input type="text" id="username" placeholder="janedoe1"></input>
    </div>
    <div>
        <label>Bio</label>
        <input type="text" id="bio" placeholder="bio info here"></input>
    </div>
</div>

<!-- footer here -->
