@import "/src/styles/styles.scss";

::ng-deep.mat-dialog-container {
  background-color: $black;
  width: 200em;
  border-radius: 0.5em;
  box-shadow: 0px 0px 40px grey;
}

.custom-chip {
  background-color: $teal;
  border: 2px solid $mint;
  border-radius: 15px;
  padding: 1px 6px;
  margin: 3px;
  color: $powder;
}

.custom-chip:hover {
  cursor: pointer;
  opacity: 0.7;
}

.hl {
  border-top: 2px solid grey;
  width: 100%;
  margin: auto;
}

::ng-deep .mat-form-field {
  width: 100%;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

::ng-deep .mat-dialog-actions {
  justify-content: flex-end !important;
  margin: 5px;
}

.search-bar-container {
  display: flex;
  align-items: center;
}

.search-bar {
  width: 75%;
}

.search-button-container {
  margin-bottom: 20px;
  margin-left: 10px;
}

::ng-deep .search-button {
  background-color: $mint !important;
  color: $black !important;
}

.or {
  margin: 15px 0px 30px 0px;
  display: flex;
}

.or-text {
  width: 20%;
  text-align: center;
}

.category-ingredient-container {
  display: flex;
  margin: auto;
}

.vl {
  border-left: 2px solid grey;
  height: auto;
  margin: 0px 10px;
}

.category-results{
  width: 48%;
}

.ingredient-results{
  width: 48%;
}

@media (max-width: 525px) {
  .search-bar-container {
    flex-direction: column;
    align-items: flex-start;
  }
  .search-bar {
    width: 100%;
  }
}