<mat-dialog-content>
    <mat-dialog-actions class="custom-mat-dialog-actions">
        <button mat-icon-button [mat-dialog-close]="true" class="close-button">
            <mat-icon class="c-powder">clear</mat-icon>
        </button>
    </mat-dialog-actions>
    <div class="search-bar-container"> 
        <div class="search-bar">
            <form [formGroup]="userSearch">
                <mat-form-field class="search" appearance="fill">
                    <mat-label>Search</mat-label>
                    <input matInput type="text" formControlName="searchInput">
                </mat-form-field>
            </form>
        </div>
        <div class="search-button-container">
            <button mat-raised-button class="search-button" (click)="close()" routerLink="/search" [queryParams]="{q: userSearch.controls.searchInput.value}">Search All Recipes</button>
        </div>
    </div>
    <div class="or">
        <div class="hl"></div><span class="or-text c-powder">OR</span><div class="hl"></div>
    </div>
    <div class="category-ingredient-container">
        <div class="category-results">
            <h2 class="c-powder">Browse by Categories</h2>
            <div class="flex-container" *ngIf="(filteredCategorie$ | async)?.length > 0">
                <div class="custom-chip" *ngFor="let category of filteredCategorie$ | async" (click)="close()" routerLink="/search" [queryParams]="{category: category?.id}"><span>{{ category?.name }}</span></div>
            </div>
            <div>
                <span *ngIf="(filteredCategorie$ | async)?.length == 0" class="c-powder">No Results Found</span>
            </div>
        </div>
        <div class="vl"></div>
        <div class="ingredient-results">
            <h2 class="c-powder">Browse By Ingredient</h2>
            <div class="flex-container">
                <div class="custom-chip" *ngFor="let ingredient of filteredIngredient$ | async" (click)="close()" routerLink="/search" [queryParams]="{ingredient: ingredient?.id}"><span>{{ ingredient?.content }}</span></div>
            </div>
            <div>
                <span *ngIf="(filteredIngredient$ | async)?.length == 0" class="c-powder">No Results Found</span>
            </div>
        </div>
    </div>
</mat-dialog-content>