<!-- App header goes here -->

<!-- Avatar is center but sort of layered on top of header? -->
<div class="avatar">
    <img src="{{activeUser.ProfilePic}}" alt="User Profile Image">
        <!-- <img src="whatever we pick for edit button"> placeholder for settings link button?-->
    <h3>{{activeUser.name}}</h3>
</div>
<p>About Info?</p>
<p>{{activeUser.followers}} - {{activeUser.following}}</p>


<div class="savedRecipes">
    <button>Collections</button>
    <!-- Loop for saved recipes...only show three tiles on mobile -->
    <card>HERE'S A RECIPE CARD YEAHHH BOIIII</card>
</div>
<div class="myRecipes">
    <button>All My Recipes</button>
    <!-- Loop for created recipes...only show three tiles on mobile -->
    <card>HERE'S MY DANK HOTPOCKETS RECIPES YOOOOOO</card>

</div>



<!-- App footer here -->