@import "/src/styles/styles.scss";

.flex-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-flow: row wrap;
  margin-top: 10px;
}

.avatar-container,
.username-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

img {
  width: 100px;
}

h3 {
  opacity: 70%;
}

.mat-tab-group {
  width: 80%;
}

.mat-tab {
  width: 100%;
}

.mat-tab-body {
  width: 100%;
}

.mat-tab-label {
  max-width: 50% !important;
  min-width: 0 !important;
}

.mat-tab-label-container {
  width: 100% !important;
}

::ng-deep .mat-tab-label-content {
  color: $powder !important;
}

.collections-container,
.recipes-container,
.collection-list,
.collection-recipes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-flow: row wrap;
  width: 100%;
  margin-top: 10px;
  overflow: hidden;
}

.new-recipe,
.new-collection {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 25px 0;
}

::ng-deep .mat-raised-button {
  padding: 0 8px !important;
  margin: 0 5% !important;
}

.recipe-card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-flow: row wrap;
  width: 100%;
}

.collection-header {
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 5px;
}

.back,
.edit {
  font-size: 20px !important;
}

@media only screen and (max-width: 720px) {
 h1 {
   font-size: 20px !important;
 }


}