.nutritional-grid{
    background-color: white;
    border-style: solid;
    text-align: left !important;
}
::ng-deep .mat-figure{
    justify-content: flex-start !important;
    padding-left: 5px !important;
}