@import "/src/styles/styles.scss";

.nutritional-grid {
    background-color: white;
    border-style: solid;
    text-align: left !important;
}

::ng-deep .mat-figure {
    justify-content: flex-start !important;
    padding-left: 5px !important;
}

::ng-deep .mat-grid-list {
    min-width: 150px !important;
    max-width: 400px !important;
    margin: auto !important;
    padding-bottom: 300px !important;
}

::ng-deep .mat-tab-label {
    color: $powder !important;
}

@media only screen and (max-width: 500px) {
    ::ng-deep .mat-grid-list {
        min-width: 150px !important;
        max-width: 300px !important;
        margin: auto !important;
        padding-bottom: 220px !important;
    }
}