@import "/src/styles/styles.scss";


.flex-container {
  width: 150px;
  height: 180px;
  margin: 5px;
  border: 1px solid $teal;
  border-radius: 0.5em;
  justify-content: center;
  padding-top: 10px;
}

.flex-container p {
  width: 100%;
  text-align: center;
  margin: 0;
}

.img-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
  text-align: center;
}

img {
  width: auto;
  max-height: 150px;
  position: relative;
 }
