@import "/src/styles/styles.scss";


.card-container {
    max-width: 100px;
    margin: 5px;
   }

.mat-card-content {
    width: 100%;
    text-align: center;
    margin-top: -5px;
 }

// img {
//     display: block;
//     margin-left: auto;
//     margin-right: auto;
//     padding-top: 5px;
// }
.flex-container {
    width: 100px;
    // height: 100px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
    text-align: center;
    margin: -10px;
}

img {
    width: auto;
    max-height: 100px;
    // flex: flex-shrink;
    // transform: translate(-50%, -50%);
    position: relative;
    // left: 50%;
    // top: 50%;
}


.mat-card-content p {
    font-size: 12px;
}