@import "/src/styles/styles.scss";

.card-container {
  border-radius: 0.25em;
  justify-content:space-between;
  margin: 5px;
  width: 200px;
}

::ng-deep .mat-card {
  box-shadow: none !important;
}

.mat-card-header:hover, .img-container:hover, .mat-card-actions:hover{
  cursor: pointer;
}

.mat-card-avatar img {
  width: 36px;
  height: 36px;
  text-align: left;
}

.mat-card-header {
  margin-bottom: -5px !important;
  text-align: left;
  padding-left: 0;
}

::ng-deep .mat-card-header-text {
  margin: 0 !important;
}

.img-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
  text-align: center;
}

.img-container img {
  width:100%!important;
  height: 200px;
  object-fit: cover;
}

.flex-container {
  display: flex;
  opacity:.6;
}

::ng-deep .mat-card-image {
  margin: 0px -16px 5px -16px !important;
}

@media only screen and (max-width: 741px) {
  .card-container{
    width: 160px!important;
    height: 180px!important;
    padding:4px!important;
    justify-content:space-between!important;
  }
  .img-container img{
    object-fit: cover!important;
    height: 125px!important;
    margin-bottom: 0px!important;
  }
  .mat-card-avatar img{
    width: 28px!important;
    height:28px!important;
    
  }
  .mat-card-header-text {
    margin: auto !important;
  }
  .mat-card-actions{
    margin-left:2px;
  }

}