@import "/src/styles/styles.scss";

.card-container {
  border-radius: 0.5em;
  justify-content: center;
  margin: 5px;
  width: 200px;
 }

.mat-card-avatar img {
  width: 36px;
  height: 36px;
  margin: -5px;
  text-align: left;
}

.mat-card-header {
  margin-bottom: -5px !important;
  text-align: left;
  padding-left: 0;
}

::ng-deep .mat-card-header-text {
  margin: 0 !important;
}

.img-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
  text-align: center;
}

.img-container img {
  width: auto;
  max-height: 200px;
   position: relative;
   text-align: center;
 }

 .flex-container {
  display: flex;
  justify-content: space-around;
}


