<mat-card class="card-container bg-metal">
    <div class="img-container" routerLink="/recipe/{{recipe.id}}">
        <img mat-card-image src="{{recipe.photoUrl}}" alt="recipe image">
    </div>
    <mat-card-header class="c-mint" routerLink="/recipe/{{recipe.id}}">
        <mat-card-title>{{recipe.title}}</mat-card-title>
    </mat-card-header>
    <mat-card-actions class="flex-container">
        <img src="/assets/images/thumb_up_alt-white-24dp.svg" alt="like" class="filter-mint" onClick="likefunction()">

        <img src="/assets/images/bookmark_add-white-24dp.svg" alt="save" class="filter-mint" (click)="openCollectionDialog()">

        <img src="/assets/images/comment-white-24dp.svg" alt="save" class="filter-mint" routerLink="/recipe/{{recipe.id}}">
    </mat-card-actions>
</mat-card>
