@import "/src/styles/styles.scss";

.card-container {
  border-radius: 0.25em;
  // justify-content: center;
  justify-content:space-between;
  margin: 5px;
  width: 200px;
}

@media only screen and (max-width: 741px) {
  .card-container{
    width: 160px!important;
    height: 190px!important;
    padding:4px!important;
    justify-content:space-between!important;
  }
  .img-container img{
    object-fit: cover!important;
    height: 125px!important;
    margin-bottom: 0px!important;
    // width:100%
  }
  .mat-card-avatar img{
    width: 28px!important;
    height:28px!important;
    
  }
  // .mat-card-header{
    // margin:auto;
  // }
  .mat-card-header-text {
    margin: auto !important;
  }

}

.mat-card-avatar img {
  width: 36px;
  height: 36px;
  // margin: -5px;
  text-align: left;
}

.mat-card-header {
  margin-bottom: -5px !important;
  text-align: left;
  padding-left: 0;
}

::ng-deep .mat-card-header-text {
  margin: 0 !important;
}

.img-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
  text-align: center;
}

.img-container img {
  // width: auto;
  width:100%!important;
  max-height: 200px;
  // position: relative;
  // text-align: center;
  object-fit: cover;
}

.flex-container {
  display: flex;
  // justify-content: space-around;
  opacity:.6;
}
